@import url(assets/css/colors.css);
@import url(assets/css/interface.css);
@import url(assets/css/components/modal.css);

@font-face {
	font-family: Nunito;
	src: url(assets/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

html {
	font-family: Nunito, system-ui, sans-serif;
	font-size: 16px;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: var(--black);
}

.wrapper,
nav,
main {
	display: flex;
}

.wrapper,
main {
	flex-direction: column;
}

.wrapper {
	max-width: 800px;
	height: 100vh;
	margin: auto;
	padding-left: 1rem;
	padding-right: 1rem;
	user-select: none;
}

nav {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	justify-content: end;
}

main {
	flex: 1;
}
