@import url(assets/css/colors.css);
@import url(assets/css/interface.css);

@font-face {
	font-family: Nunito;
	src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

html {
	font-family: Nunito, system-ui, sans-serif;
	font-size: 16px;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: var(--black);
}
