@import url(assets/css/colors.css);
@import url(assets/css/interface.css);

@font-face {
	font-family: Nunito;
	src: url(assets/fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

html {
	font-family: Nunito, system-ui, sans-serif;
	font-size: 16px;
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: var(--black);
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 0 1rem;
}

nav {
	padding: 2rem 0;
	text-align: right;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;
}
