[data-theme="light"] {
	--primary: hsl(var(--primary-hue), 100%, 44%);
	--primary-tint-100: hsl(calc(var(--primary-hue) - 6), 76%, 56%);
	--primary-tint-200: hsl(calc(var(--primary-hue) - 9), 77%, 63%);
	--primary-tint-300: hsl(calc(var(--primary-hue) - 11), 79%, 68%);
	--primary-tint-400: hsl(calc(var(--primary-hue) - 12), 81%, 73%);
	--primary-tint-500: hsl(calc(var(--primary-hue) - 13), 82%, 78%);
	--primary-tint-600: hsl(calc(var(--primary-hue) - 15), 86%, 83%);
	--primary-tint-700: hsl(calc(var(--primary-hue) - 15), 88%, 87%);
	--primary-tint-800: hsl(calc(var(--primary-hue) - 17), 90%, 92%);
	--primary-tint-900: hsl(calc(var(--primary-hue) - 16), 90%, 96%);
	--primary-shade-100: hsl(calc(var(--primary-hue) - 1), 100%, 38%);
	--primary-shade-200: hsl(calc(var(--primary-hue) - 1), 100%, 32%);
	--primary-shade-300: hsl(calc(var(--primary-hue) - 1), 100%, 27%);
	--primary-shade-400: hsl(calc(var(--primary-hue) - 2), 100%, 22%);
	--primary-shade-500: hsl(calc(var(--primary-hue) - 3), 100%, 17%);
	--primary-shade-600: hsl(calc(var(--primary-hue) - 4), 100%, 12%);
	--primary-shade-700: hsl(calc(var(--primary-hue) - 8), 100%, 8%);
	--primary-shade-800: hsl(calc(var(--primary-hue) - 16), 100%, 4%);
	--primary-shade-900: hsl(calc(var(--primary-hue) - 3), 100%, 0%);

	--neutral-100: #ffffff;
	--neutral-200: hsl(var(--primary-hue), 11%, 85%);
	--neutral-300: hsl(calc(var(--primary-hue) + 1), 9%, 71%);
	--neutral-400: hsl(var(--primary-hue), 10%, 58%);
	--neutral-500: hsl(calc(var(--primary-hue) + 1), 10%, 45%);
	--neutral-600: hsl(calc(var(--primary-hue) + 1), 10%, 33%);
	--neutral-700: hsl(var(--primary-hue), 10%, 21%);
	--neutral-800: hsl(calc(var(--primary-hue) + 2), 11%, 11%);
	--neutral-900: hsl(calc(var(--primary-hue) - 33), 9%, 2%);

	--white: var(--neutral-100);
	--lightgray: hsl(calc(var(--primary-hue) + 7), 10%, 94%);
	--gray: var(--neutral-500);
	--black: var(--neutral-900);

	--text: var(--black);
	--muted: var(--neutral-400);
	--active: var(--primary);

	--background: var(--white);
	--surface: var(--white);
	--surface-active: var(--lightgray);
	--foreground: var(--primary-tint-900);

	--button: var(--primary-tint-800);
	--button-active: var(--primary-tint-700);

	--border: var(--lightgray);
}

[data-theme-palette="default"] {
	--primary-hue: 239;
}

[data-theme-palette="rosey"] {
	--primary-hue: 329;
}

[data-theme-palette="fresh"] {
	--primary-hue: 149;
}

[data-theme-palette="passion"] {
	--primary-hue: 359;
}

[data-theme-palette="violet"] {
	--primary-hue: 269;
}

[data-theme-palette="dusty"] {
	--primary-hue: 29;
}

[data-theme="dark"] {
	--primary: hsl(var(--primary-hue), 100%, 44%);
	--primary-tint-100: hsl(calc(var(--primary-hue) - 6), 76%, 56%);
	--primary-tint-200: hsl(calc(var(--primary-hue) - 9), 77%, 63%);
	--primary-tint-300: hsl(calc(var(--primary-hue) - 11), 79%, 68%);
	--primary-tint-400: hsl(calc(var(--primary-hue) - 12), 81%, 73%);
	--primary-tint-500: hsl(calc(var(--primary-hue) - 13), 82%, 78%);
	--primary-tint-600: hsl(calc(var(--primary-hue) - 15), 86%, 83%);
	--primary-tint-700: hsl(calc(var(--primary-hue) - 15), 88%, 87%);
	--primary-tint-800: hsl(calc(var(--primary-hue) - 17), 90%, 92%);
	--primary-tint-900: hsl(calc(var(--primary-hue) - 16), 90%, 96%);
	--primary-shade-100: hsl(calc(var(--primary-hue) - 1), 100%, 38%);
	--primary-shade-200: hsl(calc(var(--primary-hue) - 1), 100%, 32%);
	--primary-shade-300: hsl(calc(var(--primary-hue) - 1), 100%, 27%);
	--primary-shade-400: hsl(calc(var(--primary-hue) - 2), 100%, 22%);
	--primary-shade-500: hsl(calc(var(--primary-hue) - 3), 100%, 17%);
	--primary-shade-600: hsl(calc(var(--primary-hue) - 4), 100%, 12%);
	--primary-shade-700: hsl(calc(var(--primary-hue) - 8), 100%, 8%);
	--primary-shade-800: hsl(calc(var(--primary-hue) - 16), 100%, 4%);
	--primary-shade-900: hsl(calc(var(--primary-hue) - 3), 100%, 0%);

	--neutral-100: #ffffff;
	--neutral-200: hsl(var(--primary-hue), 11%, 85%);
	--neutral-300: hsl(calc(var(--primary-hue) + 1), 9%, 71%);
	--neutral-400: hsl(var(--primary-hue), 10%, 58%);
	--neutral-500: hsl(calc(var(--primary-hue) + 1), 10%, 45%);
	--neutral-600: hsl(calc(var(--primary-hue) + 1), 10%, 33%);
	--neutral-700: hsl(var(--primary-hue), 10%, 21%);
	--neutral-800: hsl(calc(var(--primary-hue) + 2), 11%, 11%);
	--neutral-900: hsl(calc(var(--primary-hue) - 33), 9%, 2%);

	--white: var(--neutral-100);
	--lightgray: hsl(calc(var(--primary-hue) + 7), 10%, 94%);
	--gray: var(--neutral-500);
	--black: var(--primary-shade-900);

	--text: var(--neutral-300);
	--muted: var(--neutral-500);
	--active: var(--primary-tint-500);

	--background: var(--black);
	--surface: var(--neutral-800);
	--surface-active: var(--neutral-700);
	--foreground: var(--primary-shade-700);

	--button: var(--primary-shade-500);
	--button-active: var(--primary-shade-600);

	--border: var(--black);
}
