:root {
	--primary: hsl(273, 100%, 44%);
	--primary-tint-100: #8539e4;
	--primary-tint-200: #9156e9;
	--primary-tint-300: #9d6eee;
	--primary-tint-400: #aa84f2;
	--primary-tint-500: #b799f5;
	--primary-tint-600: #c5aef9;
	--primary-tint-700: #d3c2fb;
	--primary-tint-800: #e1d7fd;
	--primary-tint-900: #f0ebfe;
	--primary-shade-100: #6900c2;
	--primary-shade-200: #5900a5;
	--primary-shade-300: #49008a;
	--primary-shade-400: #3a006f;
	--primary-shade-500: #2b0056;
	--primary-shade-600: #1d003d;
	--primary-shade-700: #100027;
	--primary-shade-800: #050012;
	--primary-shade-900: #010002;

	--neutral-100: #ffffff;
	--neutral-200: hsl(273, 11%, 85%);
	--neutral-300: hsl(274, 9%, 71%);
	--neutral-400: hsl(273, 10%, 58%);
	--neutral-500: hsl(272, 10%, 45%);
	--neutral-600: hsl(274, 10%, 33%);
	--neutral-700: hsl(273, 10%, 21%);
	--neutral-800: hsl(275, 11%, 11%);
	--neutral-900: hsl(295, 9%, 2%);

	--white: var(--neutral-100);
	--lightgray: hsl(273, 11%, 92%);
	--gray: var(--neutral-500);
	--black: var(--neutral-900);
}
