h5 {
	margin: 0 0 0.25rem;
	font-weight: 400;
	color: var(--gray);
}

p.value {
	margin: 0 0 1rem;
	font-size: 2rem;
	font-weight: 700;
}

.data:nth-of-type(even),
#split-container p.value {
	color: var(--primary);
	text-align: right;
}

[role="button"] {
	cursor: pointer;
	user-select: none;
}

#data-container {
	display: grid;
	grid-template-columns: auto auto;
}

#split-container {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	margin: 1.5rem 0;
	border-radius: 1rem;
	background-color: var(--primary-tint-900);
}

#numpad {
	display: grid;
	grid-template-columns: auto auto auto;
	margin-bottom: 1.5rem;
	text-align: center;
	flex: 1;
}

.numpad-key {
	padding: 1rem;
	font-size: 1.5rem;
	border-bottom: 1px solid var(--lightgray);
	color: inherit;
}

.numpad-key:nth-of-type(1) {
	border-top: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(2) {
	border-top: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(3) {
	border-top: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(2) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(5) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(8) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(11) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}

.numpad-key:focus,
.numpad-key:active {
	background-color: var(--lightgray);
}

svg {
	stroke-width: 1.5;
	stroke: var(--black);
	stroke-linecap: round;
}
