#reset-btn {
	padding: 0.25rem 0.5rem;
	font-size: 12px;
	font-weight: 600;
	background-color: transparent;
	color: var(--text);
	border: 1.5px solid var(--text);
	border-radius: 0.75rem;
}

#reset-btn:active {
	color: var(--white);
	background-color: var(--text);
}

[data-theme="dark"] {
	#reset-btn:active {
		color: var(--white);
		border-color: var(--white);
	}
}

h5 {
	margin: 0 0 0.25rem;
	font-size: 0.8rem;
	font-weight: 500;
	color: var(--muted);
}

p.value:not(p.value:nth-of-type(3), p.value:nth-of-type(4), .split > p.value) {
	margin: 0 0 3rem;
}

.split > p.value {
	margin: 0;
}

p.value {
	font-size: 2rem;
	font-weight: 700;
}

.data {
	color: var(--muted);
}

.data .active {
	color: var(--active);
}

.data:nth-of-type(even),
#split-container p.value {
	text-align: right;
}

#split-container p.value,
#split-container h5,
#split-by-value {
	color: var(--active);
}

[role="button"] {
	cursor: pointer;
}

#data-container {
	display: grid;
	grid-template-columns: auto auto;
	margin: 1.5rem 0;
}

#split-container {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	margin: 0 0 1.5rem;
	border-radius: 1rem;
	background-color: var(--foreground);
}

#counter h5 + div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 0;
}

.counter-control {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: var(--button);
	transition: background-color 0.2s ease-in-out;
}

.counter-control:active {
	background-color: var(--button-active);
}

.counter-control svg {
	stroke: var(--active);
}

#numpad {
	display: grid;
	grid-template-columns: auto auto auto;
	margin-bottom: 1.5rem;
	text-align: center;
	flex: 1;
}

.numpad-key {
	display: grid;
	place-items: center;
	font-size: 1.5rem;
	border-bottom: 1px solid var(--border);
	background-color: var(--surface);
	color: inherit;
	transition: background-color 0.2s ease-in-out;
}

.numpad-key:nth-of-type(1) {
	border-top: 1px solid var(--border);
}

.numpad-key:nth-of-type(2) {
	border-top: 1px solid var(--border);
}

.numpad-key:nth-of-type(3) {
	border-top: 1px solid var(--border);
}

.numpad-key:nth-of-type(2) {
	border-left: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

.numpad-key:nth-of-type(5) {
	border-left: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

.numpad-key:nth-of-type(8) {
	border-left: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

.numpad-key:nth-of-type(11) {
	border-left: 1px solid var(--border);
	border-right: 1px solid var(--border);
}

.numpad-key:focus,
.numpad-key:active {
	background-color: var(--surface-active);
}

svg {
	stroke-width: 1.5;
	stroke: var(--text);
	stroke-linecap: round;
}
