.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 0 0.5rem;
}

nav {
	text-align: right;
}

main {
	flex: 1;
}

#numpad {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
}

.numpad-key {
	padding: 1rem;
	font-size: 1.5rem;
	border-bottom: 1px solid var(--lightgray);
	color: inherit;
	cursor: pointer;
}

.numpad-key:nth-of-type(1) {
	border-top: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(2) {
	border-top: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(3) {
	border-top: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(2) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(5) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(8) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}

.numpad-key:nth-of-type(11) {
	border-left: 1px solid var(--lightgray);
	border-right: 1px solid var(--lightgray);
}

.numpad-key:hover,
.numpad-key:active {
	background-color: var(--lightgray);
}

svg {
	stroke-width: 1.5;
	stroke: var(--black);
	stroke-linecap: round;
}
