.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 0 0.5rem;
}

nav {
	text-align: right;
}

main {
	flex: 1;
}

#numpad {
	display: grid;
	grid-template-columns: auto auto auto;
	text-align: center;
}
