.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-dialog {
	position: absolute;
	top: 1rem;
	left: 50%;
	transform: translate(-50%);
	width: calc(100% - 2rem);
	max-width: 600px;
	height: fit-content;
	margin: auto;
	border-radius: 1rem;
}

.modal-content,
.modal-header {
	display: flex;
}

.modal-content {
	flex-direction: column;
}

.modal-content {
	padding: 1rem;
}

.modal-header {
	display: flex;
	justify-content: space-between;
}

.modal-title {
	font-size: 1.25rem;
	margin: 0;
}

.moday-body,
.modal-footer {
	padding: 1rem 0;
}

.modal-body {
	height: fit-content;
}

.settings-section:not(.settings-section:last-of-type) {
	margin-bottom: 2rem;
}

.settings-section h6 {
	margin-bottom: 1rem;
}

.modal-label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 0.5rem;
}

.modal-radio {
	margin: 0;
}

.save-btn {
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}

.save-btn:focus {
	outline-width: 2px;
	outline-style: solid;
	outline-offset: 3px;
}

.save-btn:active {
	transform: scale(0.99);
}

[data-theme="light"] {
	.modal-dialog {
		background-color: var(--white);
	}

	h5.modal-title {
		color: var(--text);
	}

	.save-btn {
		background-color: var(--primary);
		color: var(--white);
	}

	.save-btn:hover {
		background-color: var(--primary-shade-100);
	}

	.save-btn:focus {
		outline-color: var(--primary-tint-200);
	}

	.save-btn:active {
		background-color: var(--primary-shade-200);
	}
}

[data-theme="dark"] {
	.modal-dialog {
		background-color: var(--surface);
	}

	h5.modal-title {
		color: var(--text);
	}

	.save-btn {
		background-color: var(--primary);
		color: var(--white);
	}

	.save-btn:hover {
		background-color: var(--primary-shade-100);
	}

	.save-btn:focus {
		outline-color: var(--primary-tint-200);
	}

	.save-btn:active {
		background-color: var(--primary-shade-200);
	}
}
